.main-wrapper{
    width:75px;
    height:75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28px;
    border: none;
    outline:none;
    margin: 6px;
    
}
.num{
    background-color: #505050;
}
.operator{
    background-color: #FF9500;
}
